
API_Versioning/API_Versioning/obj/API_Versioning.csproj.nuget.dgspec.json
API_Versioning/API_Versioning/obj/API_Versioning.csproj.nuget.g.props
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.AssemblyInfo.cs
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.AssemblyInfoInputs.cache
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.assets.cache
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.csproj.AssemblyReference.cache
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.csproj.CoreCompileInputs.cache
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.csproj.FileListAbsolute.txt
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.dll
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.GeneratedMSBuildEditorConfig.editorconfig
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.genruntimeconfig.cache
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.pdb
API_Versioning/API_Versioning/obj/Debug/net8.0/ApiEndpoints.json
API_Versioning/API_Versioning/obj/Debug/net8.0/apphost.exe
API_Versioning/API_Versioning/obj/Debug/net8.0/ref/API_Versioning.dll
API_Versioning/API_Versioning/obj/Debug/net8.0/refint/API_Versioning.dll
API_Versioning/API_Versioning/obj/project.assets.json
API_Versioning/API_Versioning/obj/project.nuget.cache
API_Versioning/API_Versioning/obj/Debug/net8.0/API_Versioning.AssemblyInfo.cs
*.cache
